.button {
          display: "flex";
        justify-content: "center";
        align-items: "center";
        width: 100;
        box-sizing: "borderBox";
        height: 40;
        border-radius: 5;
        background-color: "#3A5BA0";
        color: "#fff";
        text-align: "center";
        border: "1px solid #fff";
}